name: workflow.yml
on:
  ["push"]
jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          java-version: '20'
          distribution: 'temurin'
      - name: Run package phase
        working-directory: backend
        run: mvn clean package

